aiogram==3.30.0
aiohttp==3.14.1
APScheduler==3.11.3
asyncpg==0.31.0
fastapi==0.139.2
openpyxl==3.1.5
PyMuPDF==1.28.0
python-dotenv==1.2.2
pytz==2026.2
redis==8.0.1
requests==2.34.2
sqladmin==0.29.0
SQLAlchemy==2.0.51
uvicorn==0.51.0
cryptography==49.0.0
wtforms==3.1.2
boto3==1.43.51
nvidia-riva-client==2.26.0
geopy==2.5.0
timezonefinder==8.2.0
itsdangerous==2.2.0
