aiogram
aiohttp
APScheduler>=3.10,<4
asyncpg
fastapi
openpyxl
PyMuPDF
python-dotenv
pytz
redis
requests
sqladmin
SQLAlchemy
uvicorn
cryptography
wtforms<3.2
boto3
nvidia-riva-client
geopy
timezonefinder
